$prim: #b46cff;

html, body {
  margin: 0;
  padding: 0;
  font-family: "Space mono"
}

#header {
  background-color: #333;
  color: white;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 10vh;
    width: auto;
    &:hover {
      animation-name: wiggle;
      animation-duration: 1000ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
    }
  }
  .homebutton {
    margin: 0;
    line-height: 0;
    padding-left: 20px;
  }
  .holder-wrap{
    width: 75vw;
  }
}

#header .holder-wrap .menu-links {
  display: block;
  height: 5vh;
  line-height: 5vh;
  width: 33.3%;
  color: white;
  text-decoration: none;
  background: lighten(#333, 5);
  text-align: center;
  &:hover {
    background: lighten(#333, 15);
  }
}

#main {
  height: 85vh;
  width: 100%;
  min-width: 300px;
  background-color: lighten(#333, 40);
}

#footer {
  background: #333;
  color: white;
  height: 5vh;
  text-align: center;
  a {
    color: white;
    line-height: 5vh;
  }
}

//---- MAIN FRONT PAGE

.index {
  display: flex;
  justify-content: center;
  .novel {
    .ranking, .title {
      text-align: center;
    }
    overflow-y: scroll;
    height: 81vh;
    width: 31%;
    margin: auto 1%;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 10px #333;
  }
  p {
    padding: 0 6px;
  }
  .linkparent .link {
    display: block;
    text-align: center;
  }
}

//---- THE PAGE WITH THE TOP 8

.top {
  .line {
    height: 40vh;
    display: flex;
    justify-content: space-around;
    padding: 2vh 0 0 0;
  }
  #secondLine {
    padding: 1vh 0 0 0;
  }
  .thumbnail {
    overflow-y: auto;
    width: 20%;
    padding: 0px 5px 10px 5px;
    text-align: center;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 10px #333;
    h3 {
      margin: 5px 0 0 0;
    }
    h4 {
      margin: 0;
      font-weight: normal;
    }
  }
  .info {
    position: relative;
    display: inline;
    top: 0;
    left: -49%;
    margin: 0;
    border: 1px solid #333;
    font-size: 110%;
    padding: 0 4px 2px 4px;
    cursor: pointer;
  }
}

// TOP 8 PAGE --- MODAL RULES

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 50%;
    height: 80%;
    overflow: auto;
    .link {
      display: block;
    }
    .title, .link, .ranking {
      text-align: center;
    }
}

/* The Close Button */
.close {
    color: #333;
    border: 1px solid #333;
    font-size: 110%;
    padding: 0 4px 2px 4px;
    display: inline;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

//----- ACROSS USABLE RULES

.holder {
  display: flex;
  justify-content: center;
}

.holder-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes wiggle {
  0% {transform: rotate(4deg);}
  25% {transform: rotate(-2deg);}
  50% {transform: rotate(2deg);}
  75% {transform: rotate(-1deg);}
  100% {transform: rotate(0deg);}

}
