html, body {
  margin: 0;
  padding: 0;
  font-family: "Space mono";
}

#header {
  background-color: #333;
  color: white;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header img {
  height: 10vh;
  width: auto;
}
#header img:hover {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
#header .homebutton {
  margin: 0;
  line-height: 0;
  padding-left: 20px;
}
#header .holder-wrap {
  width: 75vw;
}
#header .holder-wrap .menu-links {
  display: block;
  height: 5vh;
  line-height: 5vh;
  width: 33.3%;
  color: white;
  text-decoration: none;
  background: #404040;
  text-align: center;
}
#header .holder-wrap .menu-links:hover {
  background: #595959;
}
#header .icon {
  display: none;
}

#main {
  height: 85vh;
  width: 100%;
  min-width: 300px;
  background-color: #999999;
}

#footer {
  background: #333;
  color: white;
  height: 5vh;
  text-align: center;
}
#footer a {
  color: white;
  line-height: 5vh;
}

.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.index .novel {
  overflow-y: scroll;
  height: 80vh;
  width: 31%;
  margin: auto 1%;
  background-color: white;
  color: black;
  -webkit-box-shadow: 1px 1px 10px #333;
          box-shadow: 1px 1px 10px #333;
}
.index .novel .ranking, .index .novel .title {
  text-align: center;
}
.index p {
  padding: 0 6px;
}
.index .linkparent .link {
  display: block;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .index {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
    height: 270vh;
  }
  .index .novel {
    width: 80%;
    margin: 5vh 10% 0 10%;
  }
  .index .novel:last-child {
    margin: 5vh 10% 5vh 10%;
  }
}
.top .line {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2vh 0 0 0;
}
.top #secondLine {
  padding: 1vh 0 0 0;
}
.top .thumbnail {
  overflow-y: auto;
  margin: 0 20px 0 20px;
  width: 19%;
  padding: 0px 5px 10px 5px;
  text-align: center;
  background-color: white;
  color: black;
  -webkit-box-shadow: 1px 1px 10px #333;
          box-shadow: 1px 1px 10px #333;
}
.top .thumbnail .title {
  margin: 0;
}
.top .info {
  position: relative;
  display: inline;
  top: 0;
  left: -49%;
  margin: 0;
  border: 1px solid #333;
  font-size: 110%;
  padding: 0 4px 2px 4px;
  cursor: pointer;
}

@media screen and (max-width: 599px) {
  .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: auto;
  }
  .top .line {
    height: auto;
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 2.5vh 5% 2.5vh 5%;
  }
  .top #secondLine {
    padding: 2.5vh 10% 2.5vh 0%;
  }
  .top .thumbnail {
    overflow-y: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 0 1vh 0;
    width: 100%;
    padding: 0px 5px 10px 5px;
    text-align: center;
    background-color: white;
    color: black;
    -webkit-box-shadow: 1px 1px 10px #333;
            box-shadow: 1px 1px 10px #333;
  }
  .top .thumbnail .title {
    margin: 0;
  }
  .top .info {
    position: relative;
    display: block;
    top: 0;
    left: 0%;
    margin: 3px;
    border: 1px solid #333;
    font-size: 150%;
    padding: 0;
    cursor: pointer;
  }
}
.full-list {
  overflow-y: auto;
}
.full-list .accordion {
  background-color: white;
  color: #333;
  width: 70vw;
  margin: 0 auto 0 auto;
  padding: 3px 0;
  border-width: 1px 0px 1px 0px;
  border: solid rgba(0, 0, 0, 0.1);
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 105%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.full-list .accordion a {
  margin: 0;
  padding: 0;
}
.full-list .accordion a img {
  display: block;
}
.full-list .accordion .ranking {
  margin-left: auto;
  line-height: 0;
}
.full-list .accordion .title {
  cursor: text;
  padding-left: 2vh;
  display: inline;
}
.full-list .accordion .id-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10.2vw;
}
.full-list .accordion .full-list-rankings {
  width: 9.8vw;
}
.full-list .accordion .full-list-titles {
  text-align: left;
  width: 50vw;
}
.full-list .active, .full-list .accordion:hover {
  background-color: #ccc;
}
.full-list .panel {
  margin: 20px 0 20px 0;
  width: 100%;
  padding: 20px;
  display: none;
  background-color: white;
  text-align: left;
  overflow: hidden;
  font-size: 110%;
}
.full-list .listHeader {
  cursor: default;
}
.full-list .listHeader:hover {
  background-color: white;
}
.full-list .listHeader .title {
  text-align: left;
  cursor: pointer;
  height: 100%;
  width: 46.7vw;
  margin: 0;
  padding: 2vh;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}
.full-list .listHeader .title:last-child {
  margin-left: auto;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 10vw;
}
.full-list .listHeader .title:first-child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  width: 10vw;
}

@media screen and (max-width: 599px) {
  .full-list {
    min-height: 90vh;
    overflow-y: auto;
  }
  .full-list .accordion {
    width: 100vw;
    font-size: 80%;
  }
  .full-list .accordion .title {
    padding-left: 0vw;
    margin-left: 0vw;
  }
  .full-list .accordion .id-picture {
    width: 21vw;
  }
  .full-list .accordion .full-list-rankings {
    width: 10vw;
    margin-left: 8.5vw;
  }
  .full-list .accordion .full-list-titles {
    text-align: left;
    width: 50vw;
    margin-left: 4vw;
  }
  .full-list .accordion:focus {
    background: white;
  }
  .full-list .accordion:hover {
    background: white;
  }
  .full-list .active {
    background-color: #ccc;
  }
  .full-list .listHeader {
    height: 7vh;
  }
  .full-list .listHeader .title {
    width: auto;
    line-height: 4vh;
    padding: 5px 5px 5px 7px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
  }
  .full-list .listHeader .title:last-child {
    width: 22vw;
  }
  .full-list .listHeader .title:first-child {
    width: 22vw;
  }
}
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalContent {
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 50%;
  height: 80%;
  overflow: auto;
}
.modalContent .link {
  display: block;
}
.modalContent .title, .modalContent .link, .modalContent .ranking {
  text-align: center;
}

/* The Modal Close Button */
.close {
  color: #333;
  border: 1px solid #333;
  font-size: 110%;
  padding: 0 4px 2px 4px;
  display: inline;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.holder-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  25% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  25% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@media screen and (max-width: 599px) {
  #header {
    height: 7vh;
  }
  #header .homebutton {
    position: absolute;
    top: 0;
    left: 2vw;
    z-index: 99;
    padding: 0;
  }
  #header img {
    margin-top: 0.7vh;
    height: 6vh;
  }
  #header .holder-wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    min-height: 7vh;
    padding-left: 10px;
    background: #333;
    z-index: 1;
  }
  #header .holder-wrap .menu-links {
    display: none;
  }
  #header .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 4vw 0 auto;
    font-size: 280%;
    text-decoration: none;
    color: white;
    line-height: 7vh;
    z-index: 2;
  }

  #main {
    height: auto;
    width: 100%;
    min-width: 300px;
    background-color: #999999;
  }

  #footer {
    height: 3vh;
    font-size: 70%;
  }
  #footer a {
    line-height: 3vh;
  }

  .mobile-link {
    display: block;
    width: 100%;
    line-height: 7vh;
    background: #333;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #999;
  }
}
