$prim: #b46cff;
$shadowBorder: rgba(0,0,0, 0.1);
@import "mixins";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Space mono"
}

#header {
  background-color: #333;
  color: white;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 10vh;
    width: auto;
    &:hover {
      animation-name: wiggle;
      animation-duration: 1000ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
    }
  }
  .homebutton {
    margin: 0;
    line-height: 0;
    padding-left: 20px;
  }
  .holder-wrap{
    width: 75vw;
  }

  .holder-wrap .menu-links {
    display: block;
    height: 5vh;
    line-height: 5vh;
    width: 33.3%;
    color: white;
    text-decoration: none;
    background: lighten(#333, 5);
    text-align: center;
    &:hover {
      background: lighten(#333, 15);
    }
  }
  .icon {
    display: none;
  }
}



#main {
  height: 85vh;
  width: 100%;
  min-width: 300px;
  background-color: lighten(#333, 40);
}

#footer {
  background: #333;
  color: white;
  height: 5vh;
  text-align: center;
  a {
    color: white;
    line-height: 5vh;
  }
}



//---- MAIN FRONT PAGE

@import 'index';

//---- THE PAGE WITH THE TOP 8

@import "top";

//FULL LIST HTML RULES

@import "full-list";

// MODAL RULES

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 50%;
    height: 80%;
    overflow: auto;
    .link {
      display: block;
    }
    .title, .link, .ranking {
      text-align: center;
    }
}

/* The Modal Close Button */
.close {
    color: #333;
    border: 1px solid #333;
    font-size: 110%;
    padding: 0 4px 2px 4px;
    display: inline;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

//----- ACROSS USABLE RULES

.holder {
  display: flex;
  justify-content: center;
}

.holder-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes wiggle {
  0% {transform: rotate(4deg);}
  25% {transform: rotate(-2deg);}
  50% {transform: rotate(2deg);}
  75% {transform: rotate(-1deg);}
  100% {transform: rotate(0deg);}
}

@include media(599px) {
  #header {
    height: 7vh;
    .homebutton {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      padding: 0;
    }
    img {
      margin-top: 0.5vh;
      height: 6vh;
    }
    .holder-wrap {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      text-align: center;
      min-height: 7vh;
      padding-left: 10px;
      background: #333;
      z-index: 1;
      .menu-links {
        display: none;
      }
    }
    .icon {
       display: block;
       position: absolute;
       right: 0;
       top: 0;
       margin: 0 4vw 0 auto;
       font-size: 280%;
       text-decoration: none;
       color: white;
       line-height: 7vh;
       z-index: 2;
    }
  }

  #main {
    height: 85vh;
    width: 100%;
    min-width: 300px;
    background-color: lighten(#333, 40);
  }

  #footer {
    background: #333;
    color: white;
    height: 5vh;
    text-align: center;
    a {
      color: white;
      line-height: 5vh;
    }
  }
  .mobile-link {
    display: block;
    width: 100%;
    line-height: 7vh;
    background: #333;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #999;
  }
}
