.top {
  .line {
    height: 40vh;
    display: flex;
    justify-content: center;
    padding: 2vh 0 0 0;
  }
  #secondLine {
    padding: 1vh 0 0 0;
  }
  .thumbnail {
    overflow-y: auto;
    margin: 0 20px 0 20px;
    width: 19%;
    padding: 0px 5px 10px 5px;
    text-align: center;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 10px #333;
    .title {
      margin: 0;
    }
  }
  .info {
    position: relative;
    display: inline;
    top: 0;
    left: -49%;
    margin: 0;
    border: 1px solid #333;
    font-size: 110%;
    padding: 0 4px 2px 4px;
    cursor: pointer;
  }
}

@include media(599px) {
  body {
    overflow-y: hidden;
  }
  .top {
    overflow-y: hidden;
    .line {
      height: 40vh;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-start;
      padding: 3vh 0 0 0;
    }
    #secondLine {
      padding: 2vh 0 0 0;
    }
    .holder {
      margin-top: 1.7vh;
    }
    .thumbnail {
      overflow-y: auto;
      margin: 0 2vw 1vh 2vw;
      width: 60vw;
      padding: 0px 5px 10px 5px;
      .title {
        font-size: 90%;
        font-weight: bolder;
      }
    }
    .info {
      position: relative;
      display: inline;
      top: 0;
      left: -49%;
      margin: 0;
      border: 1px solid #333;
      font-size: 110%;
      padding: 0 4px 2px 4px;
    }
  }
}
